:root {
    --container-width: 480px;

    /* COLOR */
    --primary: #28C1BC;
    --black: #000000;
    --grey: #DDDDDD;
    --light-grey: #F0F0F0;
    --dark-grey: #A0A0A0;
    --white: #FFFFFF;
    --red: #ff3c3c;
} 

.container {
    width: var(--container-width);
    height: 100vh;
    margin: auto;
}

.padding-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    height: 100%;
}

.input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ebebeb;
    font-size: 25px;
    padding-bottom: 10px;
}

.input::placeholder {
    color: #d4d4d4;
}

.button {
    outline: none;
    border-radius: 5px; 
    height: 60px;
}

.cursor-pointer {
    cursor: pointer;
}

/* Text */
.bold {
    font-weight: bold;
}

.text-small {
    font-size: 16px;
}

/* Text layout */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Color */
.text-red {
    color: var(--red);
}

.text-primary {
    color: var(--primary);
}

.text-dark-grey {
    color: var(--dark-grey);
}

.text-grey {
    color: var(--grey);
}

.background-transparent {
    background-color: transparent;
}

/* Layout */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

/* Layout - flex */
.justify-start {
    justify-content: flex-start;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}