.join-form {
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 24px;
}

.input-wrapper {
    display: flex;    
    flex-direction: column;
    margin: 16px 0;
}

.input-field {
    display: flex;
    align-items: center;
    position: relative;
    margin: 8px 0;
}

.input-field input {
    width: 100%;
}

.input-field__overlap {
    position:absolute;
    right: 0;
    display: flex;
    text-align: right;
    gap: 16px;
}

.button {
    cursor: pointer;
}

#re-request {
    display: none;
}

#request-number {
    height: 60px;
    background-color: var(--wthie);
    border: 1px solid var(--grey);
    cursor: pointer;
}

#request-number:hover {
    background-color: var(--light-grey);
}

#next.active {
    cursor: pointer;
}