.container-white {
    background-color: #ffffff;
}

.main__container {
    display: flex;
    background-color: #f4f4f4;
    height: 100%;
    flex-direction: column;
    text-align: center;
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 50px;
    font-size: 30px;
    z-index: 50;
    box-shadow: 0 2px rgba(0, 0, 0, 0.05)
}

.main__banner {
    height: 155px;
}

.main__banner img {
    width: 100%;
}

/* login */

.main__login__container {
    margin-bottom: 3px;
}

.login {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;

}

.login-left,.login-right {
    display: flex;
    align-items: center;
    height: 100%;
    color: #afafaf;
}

.login-left img {
    height: 75%;
    margin-right: 10px;
}

/* menus */

.main__menus {
    display: grid;
    height: 195px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.menus__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menus__menu img {
    width: 40px;
    height: 35px;
    margin-bottom: 10px;
}

.menus__menu span {
    color: #afafaf;
}

/* campaing banner */

.main__campaign-banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 10px 0;
    padding: 10px;
    color: #afafaf;
    font-size: 20px;
}

.campaign-banner-right {
    display: flex;
    align-items: center;
    height: 100%;
    color: #68a94c;
}

.campaign-banner-right img {
    height: 50%;
    margin-right: 10px;
}

/* bottom nav bar */

.main__bottom__nav-bar__container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 3px;
    height: 100%;
}

.nav-bar__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: #afafaf;
}

.nav-bar__item-left {
    text-align: left;
}

.nav-bar__item-left-top {
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #000000;
}

.nav-bar__item-left-top img {
    width: 40px;
    margin-left: 10px;
}