extends layout.pug 
block css 
    link(rel="stylesheet" href="../styles/join_agree.css")
    link(rel="stylesheet" href="../styles/join_certification.css")
block script 
    script(src="../script/join_certification/join_certification.js" type="module")
    script(src="../script/join_certification/timer.js" type="module") 
block content 
    .padding-container 
        .titlebar
            .titlebar__item.text-left 
                a(href="/join/agree") 
                    i.fas.fa-arrow-left.cursor-pointer
            .titlebar__item.text-center 
                span.title 회원가입
            .titlebar__item.text-right 
                a#next.text-grey 다음
        form.join-form
            .input-wrapper
                .label 
                    label(for="phone") 휴대전화 
                .input-field
                    input#phone(type="phone").input
                    .input-field__overlap
                        button(style={"display": "none"} type="button")#reset-btn.background-transparent
                            i.fas.fa-times-circle.text-dark-grey.cursor-pointer
                        i.fas.fa-check.text-primary(style={"display": "none"})
                .error-msg 테스트 메시지
            .input-wrapper
                .label
                    label(for="certification") 인증번호
                .input-field 
                    input#certification(type="text" disabled="disabled").input
                    .input-field__overlap
                        span#timer.text-red.text-small
                .d-flex.justify-end
                    button(type="button")#re-request.cursor-pointer.background-transparent.text-primary 인증번호 다시받기
            button#request-number(type="button").button.cursor-pointer 인증번호 받기