extends layout.pug
block css 
    link(rel="stylesheet" href="../styles/join_agree.css")
    link(rel="stylesheet" href="../styles/join_certification.css")
    link(rel="stylesheet" href="../styles/join_userinfo.css")
block script 
    script(src="../script/join_userinfo.js" type="module") 
block content 
    form.padding-container(action="/join/userinfo" method="post")
        .titlebar 
            .titlebar__item.text-left 
                i.fas.fa-arrow-left.cursor-pointer
            .titlebar__item.text-center 
                span.title 회원가입
            .titlebar__item.text-right 
                button#next(type="submit" disabled) 완료
        .join-form
            .input-wrapper
                .label 
                    label(for="mail") 이메일 
                .input__mail
                    .input-field
                        input#mail(type="mail" name="mail").input
                        .input-field__overlap
                            button(type="button" tabindex="-1").background-transparent
                                i.fas.fa-times-circle.text-dark-grey.cursor-pointer.remove-button
                            i.fas.fa-check.valid-status
                    button#check-duplicate-button(type="button" style="color: var(--dark-grey)").button.background-transparent.border.border-grey 중복확인
                .error-msg 테스트 메시지 
            .input-wrapper
                .label 
                    label(for="nickname") 닉네임
                .input-field
                    input#nickname(type="text" name="nickname").input
                    .input-field__overlap
                        button(type="button" tabindex="-1").background-transparent
                            i.fas.fa-times-circle.text-dark-grey.cursor-pointer.remove-button
                        i.fas.fa-check.valid-status
                .error-msg 테스트 메시지
            .input-wrapper
                .label 
                    label(for="password") 비밀번호
                .input-field
                    input#password(type="password" name="password").input
                    .input-field__overlap
                        button(type="button" tabindex="-1").background-transparent
                            i.fas.fa-times-circle.text-dark-grey.cursor-pointer.remove-button
                        i.fas.fa-check.valid-status
                .error-msg 테스트 메시지
            .input-wrapper
                .label 
                    label(for="birthday") 생년월일
                .input-field
                    input#birthday(type="text" placeholder="예) 2000.01.01" name="birthday").input
                    .input-field__overlap
                        button(type="button" tabindex="-1").background-transparent
                            i.fas.fa-times-circle.text-dark-grey.cursor-pointer.remove-button
                        i.fas.fa-check.valid-status
                .error-msg 테스트 메시지