extends layout.pug 
block css
    link(rel="stylesheet", href="../styles/join_agree.css")
block script 
    script(src="../script/join_agree.js" defer) 
block content 
    .padding-container
        .titlebar
            .titlebar__item.text-left
                a(href="/") 
                    i.fas.fa-times.cursor-pointer
            .titlebar__item.text-center
                span.title 회원가입
            .titlebar__item.text-right
        .message-wrapper 
            span.message.bold 어서오세요
            span.message.bold 약관동의가 필요해요
        form(action="/join/certification" method="post").agree
            .agree__form
                label.input-form
                    input(type="checkbox" id="select-all")
                    span.bold 전체동의
            .agree__items 
                .item
                    .agree__form 
                        label.input-form
                            input(type="checkbox" name="agree")
                            span 배달의민족 이용약관 동의
                    i.fas.fa-chevron-right
                .item 
                    .agree__form 
                        label.input-form
                            input(type="checkbox" name="agree")
                            span 전자금융거래 이용약관 동의
                    i.fas.fa-chevron-right
                .item 
                    .agree__form 
                        label.input-form
                            input(type="checkbox" name="agree")
                            span 개인정보 수집이용 동의
                    i.fas.fa-chevron-right
                .item
                    .agree__form 
                        label.input-form
                            input(type="checkbox" name="agree").optional
                            span 개인정보 제3자 제공 동의 (선택)
                    i.fas.fa-chevron-right
                .item
                    .agree__form 
                        label.input-form
                            input(type="checkbox" name="agree").optional 
                            span 마케팅 정보 메일, SMS 수신동의 (선택)
            .agree__footer
                .button.age-check
                    label.input-form
                        input(type="radio" name="age-range" id="adult" checked)
                        span.bold 만 14세 이상입니다.
                    .image-wrapper 
                        img(src="/assets/img/adult.png", alt="아이콘")
                .button.age-check
                    div.input-form
                        input(type="radio" name="age-range" id="child")
                        label(for="child").child-check
                            span.bold 만 14세 미만입니다.
                            span.description 본인확인이 된 보호자의 배민계정이 필요해요.
                    .image-wrapper 
                        img(src="/assets/img/child.png", alt="아이콘")
            button#next-button(type="submit" disabled).button 다음으로