doctype html 
html 
    head
        title=title
        link(rel="stylesheet" href="../styles/initialize.css")
        link(rel="stylesheet" href="../styles/common.css")
        link(rel="stylesheet" href="../node_modules/css/all.min.css" type="text/css")
    body
        .container
            block content