doctype html 
html 
    head
        title=title
        link(rel="stylesheet" href="../styles/initialize.css")
        link(rel="stylesheet" href="../styles/common.css")
        link(rel="stylesheet" href="../node_modules/css/fontawesome.css" type="text/css")
        link(rel="stylesheet" href="../styles/main.css")
        link(rel="perconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet")
    body
        .container
            block content