doctype html 
html 
    head
        title=title
        link(rel="stylesheet" href="../styles/initialize.css")
        link(rel="stylesheet" href="../styles/common.css")
    body
        .container
            block content